</main>

<footer>
<a href="http://validator.w3.org/check/referer">
<strong> HTML </strong> Valid! </a> |
<a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
<strong> CSS </strong> Valid! </a>
</footer>

</body>
</html>
